
.container {
    width: 100%; /* Ancho del contenedor */
    height: 600px; /* Altura del contenedor */
    background-image: url("../../assets/img/imagen.jpg"); /* Ruta de la imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    display: grid;
    grid-template-columns:  1.5fr 1fr;
    grid-template-rows: 3fr 1fr;
    animation-name: changeBackground;
}


.container_text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 80px;
    color: green
}

.container_text h1{
    font-size: 5rem;
    font-weight: 800;
    color: green;
    display: block;

}

.border_black {
    border: 2px solid black; /* Esto establece un borde negro de 2px */
  }

.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_button_button{
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color:#4CAF50;
    cursor: pointer;
    color: white;
}


.container_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}


.container_logo h1{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 100px;
    flex-wrap: wrap;
    font-size: 4rem;
    font-weight: 800;
    color: green;
   
}

.container_logo h3{
 
    margin-right: 100px;

}

