
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,400;1,500&family=Nunito:ital,wght@1,200;1,300&family=Reddit+Mono:wght@200..900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,400;1,500&family=Nunito:ital,wght@1,200&family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Righteous&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



a{
    text-decoration: none;
}

.generalGreenButton{
    background-color: red;
    padding: 10px;
    background-color: yellowgreen;
    border: none;
    cursor: pointer;
    color: white;

}