.container_card_general {
  background-image: url("../../assets/img/triathlon.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; 
    background-color: red;
    border-radius:9px 9px;
    gap: 20px;
    margin:20px
}

.container_card ul li{
   list-style-type: none;

}
.container_card_text h1{
  text-align: center;
  padding: 20px;
  background-color: yellowgreen;
  color:white
}
.container_text{
    
    display: flex;
    text-align: center;
    color: white;;
    width: 100%;
    background-color: #4CAF50;;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}








.ul li{
    text-align: center;
    padding: 20px;
   
}

.ul li:first-child {
    background-color: #ff0000; /* Cambia el color según lo que desees */
  }

.ul li:nth-child(odd) {
    background-color: #f2f2f2; /* Cambia el color según lo que desees */
  }
  
  /* Estilo para elementos de lista pares */
 .ul li:nth-child(even) {
    background-color: #e6e6e6; /* Cambia el color según lo que desees */
  }